# Tell pip where to find the PyTorch CPU wheels:
--find-links https://download.pytorch.org/whl/torch_stable.html

numpy<2
torch==2.0.1+cpu
torchvision==0.15.2+cpu
fastai==2.7.12


notebook
pillow
ipywidgets
